@import 'color';
body {
  color: $black;
  font-family: Arial, sans-serif
}

p {
  font-size: 1.1em;
}

.cursor {
  cursor: pointer;
}


.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.button {
  color: $white;
  border-radius: 5px;
  padding: 10px;
  font-weight: initial;
  border: none;
}

.button-primary {
  background-color: $blue;
}

.wrapper {
  border-radius: 5px;
  margin: auto;
  border: 1px solid $gray;
}

.flex-row {
  display: flex;
}

.flex-column {
  @extend .flex-row;
  flex-direction: column
}

.blue-text {
  color: $blue;
}

.flexOne {
  flex: 1;
}

.flexTwo {
  flex: 2;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.borderBottom {
  border-bottom: 1px solid $gray;
}

.tag {
  background-color: $gray;
  color: $blue;
  padding: 2px 3px;
  margin-bottom: 2px;
}

.price {
  color: $gray-200;
}

.description {
  margin-top: 5px;
  word-spacing: 3px;
  color: $gray-200;
}

.name {
  color: $blue;
  font-weight: 600;
  font-size: 0.9em;
}

.projectNumber {
  margin-right: 8px;
}
.userDetailBody {
  .button {
    display: none;
  }
}

.caterogy {
  @extend .flex-column;
  @extend .align-item-center;
  @extend .justify-content-center;
}

@import './user.scss';
@import "./table.scss";
@import "./stepper.scss";
@import "./search.scss";
@import "./media_query.scss"